// Colors
$primary-color: #95cd4d;
$background-overlay: rgba(0, 0, 0, 0.2);
$background-color: #fcfeff;
$border-color: #d3d3d3;
$text-color: #666;
$shadow-color: rgba(0, 0, 0, 0.1);
$secondary-color:#cacaca;

// Sizes
$border-radius: 25px;
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin button-style($bg-color, $text-color: white) {
  background-color: $bg-color;
  color: $text-color;
  border: none;
  border-radius: $border-radius;
  cursor: pointer;
  padding: 15px 20px;
  width: 60% !important;
  margin-top: 20px;
}

@mixin input-style ($bg-input-color, $text-input-color: rgb(13, 13, 13)){
  background-color: $bg-input-color;
  color: $text-input-color;
  width: 60%  !important;
  padding: 15px 20px;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  font-size: 15px !important;
  margin: 7px 0;
}
body {
  font-family: "M PLUS Rounded 1c", sans-serif;
}

a {
  color: $primary-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

hr {
  border: 1px solid $border-color;
  width: 70%;
  height: 2px;
  margin: 0 auto;
}
.login-container {
  position: relative;
  height: 100vh;
  background-image: url('../../Assets/Image/createwallet.jpeg');
  background-size: cover;
  background-position: center;
  @include flex-center;
  justify-content: flex-start;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $background-overlay;
  }
.create-account-link{
  text-decoration: none;
  width: 100%; // Ensures the link takes full width

}
  .login-card {
    position: absolute;
    z-index: 1;
    width: 41%;
    padding: 20px;
    background-color: white;
    border-radius: $border-radius;
    box-shadow: 0 4px 8px $shadow-color;
    text-align: center;
    margin-left: 50px;
    right: 35px;
    height: 92%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0px 10px 50px;
    justify-content: center;

    .Onboarding3-logo {
      margin-bottom: 20px;
      width: auto !important;
      height: 250px;
    }

    h1 {
      font-size: 45px;
      color: $primary-color;
      font-weight: 600;
      margin-top: 15px;
    }

    p{
      margin-top: 5px !important;
    }
    .create-wallet-email,
    .create-wallet-password{
      @include input-style($secondary-color);
      outline: none !important;
    }
    

    .create-account-button {
      @include button-style($primary-color);
      flex-shrink: 1;
      
    }
    .finish{
      @include button-style($primary-color);
      background-color: #8e8e8e
    }

    

    p {
      margin: 40px 0px;
      font-size: 14px;
      color: $text-color;
      background-color: #fff;

      &.have-account-text {
        margin: 10px 0px 70px 0px;
      }
    }
  }
}
