/* Login.css */

.login-container {
    position: relative;
    height: 100vh;
    background-image: url('../../Assets/Image/MCGZ3K9N_output_0\ \(1\).webp');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
  }
  
  .login-card {
    position: absolute;
    z-index: 1;
    width: 100%;
    max-width: 550px;
    padding: 20px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-left: 50px;
    right: 35px;
    height: 92%;
    display:flex;
    flex-direction: column;
    align-items: center;
  }
  
  .logo {
    margin-bottom: 20px;
  }
  
  .login-card h1 {
    font-size: 45px;
    color: #7ac142;
    font-weight: 600;
  }
  
  input[type="email"],
  input[type="password"] {
    width: 280px !important;
    padding: 15px 20px;
    margin: 7px 0;
    border: 1px solid #d3d3d3;
    border-radius: 25px;
    font-size: 15px !important;
  }
  
  .password-container {
    position: relative;
  }
  
  .password-toggle {
    position: absolute;
    top: 50%;
    right: 130px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .create-account-button {
    width: 280px !important;
    padding: 15px 20px;
    background-color: #7ac142;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .social-login {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0 5px 0;
    position: relative;
  }
  
  .social-button {
    width: 280px;
    height: 40px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    padding-left: 20px;
    border: 1px solid rgba(0, 0, 0, 0.4 );
  }
  .social-login-icon{
    position: absolute;
    top: 50%;
    left: 190px;
    transform: translate(-50%, -50%);
    font-size: 20px;
    line-height: 5px;
  }
  
  .google {
    background-color: #fcfeff;
  }
  
  .microsoft {
    background-color: #0078d4;
  }
  
  .github {
    background-color: #333;
  }
  
  .login-card p {
    margin: 40px 0px;
    font-size: 14px;
    color: #666;
    background-color: #fff;
  }
  .have-account-text p{
    margin: 10px 0px 70px 0px;
    font-size: 14px;
    color: #666;
    background-color: #fff;
  }

  /* horizontal line  */
   hr{
    
    border: 1px solid #d3d3d3;
    display: absolute;
    left: 50%;
    width: 70%;
    height: 2px;
    border: 1px solid #d3d3d3;
  }
  
  a {
    color: #7ac142;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  