:root {
    /* fonts */
    --font-inter: 'Inter', sans-serif;
  
    /* font sizes */
    --font-size-mini: 15px;
    --font-size-sm: 14px;
    --font-size-41xl: 60px;
  
    /* Colors */
    --color-gray-100: rgba(0, 0, 0, 0.26);
    --color-white: #fff;
    --color-blue: rgba(21, 45, 255, 0.03);
  
    /* Border radiuses */
    --br-3xs: 10px;
  }
  